<!DOCTYPE HTML>
<html>
  <head></head>
    <script src="{{ url_for('static',filename='assets/js/jquery-3.2.1.min.js') }}"></script>
    <title>Wheel of Fortune</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
  <body>
    <div class="board" name="board">
      <table id="game-table" class="center"></table>
    </div>
    <div class="break"></div>
    <div class="category center" name="category">
      <span id="category">{{ category }}</span>
    </div>
    <div class="break"></div>
    <a href="#" id="ready" onclick="ready = true; this.style.display='none'; $('#solve').attr('style','display:block')">
    <div class="ready center" name="ready">
      <span>READY</span>
    </div>
    </a>
    <a href="#" id="solve" style="display: none" onclick="solvePuzzle(); this.style.display='none';">
    <div class="solve center" name="solve">
      <span>SOLVE</span>
    </div>
    </a>
    <a href="next" id="next" style="display:none;">
    <div class="next center" name="next">
      <span>NEXT</span>
    </div>
    </a>
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
  </body>
</html>