<!DOCTYPE HTML>
<html>
  <head></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Wheel of Fortune</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
  <body>
    <div class="board" name="board">
      <table id="game-table" class="center"></table>
    </div>
    <div class="break"></div>
    <div class="category center" name="category">
      <span id="category">{{ category }}</span>
    </div>
    <div class="break"></div>
    <a href="#" onclick="ready = true; this.style.display='none'";>
    <div id="ready" class="ready center" name="ready">
      <span>READY</span>
    </div>
    </a>
    <a href="next" id="next" style="display:none;">
    <div class="next center" name="next">
      <span>NEXT</span>
    </div>
    </a>
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
  </body>
</html>